<!DOCTYPE html>
<html lang="zh-Hant">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>比賽畫面</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='kyc_judo_styles.css') }}">
</head>
<body>
    <div class="container">
        <!-- 選單區域：僅當 data_loaded 為 False 時顯示 -->
        {% if not data_loaded %}
        <form action="/jload_data" method="POST">
            <label for="filename" class="file-select">選擇比賽項目:</label>
            <select name="filename" id="filename">
                {% for file in files %}
                <option value="{{ file }}">{{ file }}</option>
                {% endfor %}
            </select>
            <button type="submit">載入</button>
        </form>
        {% endif %}
        
        <div class="header">{{ number or "場序128" }}</div>
        <div class="group">
            <!-- <div class="category">組別</div> -->
            <div>{{ subject or "社會男子組-81KG" }}</div>
            <!-- <div>-81KG</div> -->
        </div>
        <div class="players-container">
            <div class="players player-a">
                <div class="player-name">{{ player1_name or "選手一" }}</div>
                <div class="country-code">{{player1_place or "TPE"}}</div>
                <div class="medal-area_A">
                    <div class="medal-box">I</div>
                    <div class="medal-box">W</div>
                </div>
                <div class="score-area_A">
                    <div class="score-box" onclick="incrementScore(this)">0</div>
                    <div class="score-box" onclick="incrementScore(this)">0</div>
                </div>
                <div class="yellow-boxes player-a-yellow-boxes">
                    <div class="yellow-box"></div>
                    <div class="yellow-box"></div>
                    <div class="red-box"></div>
                </div>
                <button class="yellow_toggle-button" onclick="toggleYellowBoxes('player-a-yellow-boxes')">黃牌</button>
            </div>
            <div class="space"></div>
            <div class="players player-b">
                <div class="country-code">{{player2_place or "UZB"}}</div>
                <div class="medal-area_B">
                    <div class="medal-box">I</div>
                    <div class="medal-box">W</div>
                </div>
                <div class="score-area_B">
                    <div class="score-box" onclick="incrementScore(this)">0</div>
                    <div class="score-box" onclick="incrementScore(this)">0</div>
                </div>
                <div class="yellow-boxes player-b-yellow-boxes">
                    <div class="yellow-box"></div>
                    <div class="yellow-box"></div>
                    <div class="red-box"></div>
                </div>
                <button class="yellow_toggle-button" onclick="toggleYellowBoxes('player-b-yellow-boxes')">黃牌</button>
                <div class="player-name">{{ player2_name or "選手二" }}</div>
            </div>
        </div>
        <div class="timer-container">
            <div class="timer" onclick="toggleTimer()">04:00</div>
            <button class="settings-button" onclick="openSettings()" style="background: none; border: none; cursor: pointer;">
                <img src="https://img.icons8.com/material-outlined/48/ffffff/settings.png" alt="Settings Icon">
            </button>
        </div>
    </div>
    <script src="{{ url_for('static', filename='base_scripts.js') }}"></script>
    <script >
        function toggleYellowBoxes(className) {
            const yellowBoxes = document.querySelectorAll(`.${className} .yellow-box`);
            let visibleCount = Array.from(yellowBoxes).filter(box => box.style.visibility === 'visible').length;

            if (visibleCount < yellowBoxes.length) {
                yellowBoxes[visibleCount].style.visibility = 'visible';
            } else {
                yellowBoxes.forEach(box => box.style.visibility = 'hidden');
            }
        }
    </script>
</body>
</html>
