<!DOCTYPE html>
<html lang="zh-Hant">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>比賽畫面</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='kyc_judo_styles.css') }}">
    <style>
        .takedown-time {
            width: 60px;
            height: 30px;
            left: 5%;
            display: flex;
            align-items: center;  /* 垂直居中 */
            justify-content: center;  /* 水平居中 */
            font-size: 30px;
            background-color: transparent;  /* 若不希望有背景色，設為透明 */
            border: none;  /* 移除邊框 */
            cursor: pointer;  /* 讓滑鼠游標變為手型 */
            padding: 0;  /* 如果有不必要的 padding，可以设置为0 */
            margin: 0;  /* 检查 margin，确保元素不被不必要地向下推 */
            position: relative;  /* 使 z-index 生效 */
            z-index: 10; 
            
        }
        @keyframes blink {
            0% { opacity: 1; }
            50% { opacity: 0; }
            100% { opacity: 1; }
        }

        .blink {
            animation: blink 1s infinite;
        }

    </style>
</head>
<body>
    <div class="container">
        <!-- 選單區域：僅當 data_loaded 為 False 時顯示 -->
        {% if not data_loaded %}
        <form action="/jload_data" method="POST">
            <label for="filename" class="file-select">選擇比賽項目:</label>
            <select name="filename" id="filename">
                {% for file in files %}
                <option value="{{ file }}">{{ file }}</option>
                {% endfor %}
            </select>
            <button type="submit">載入</button>
        </form>
        {% endif %}
        
        <div class="header">
            {{ number or "場序128" }}<br>
            {{ subject or "社會男子組-81KG" }}
        </div>
        
        <div class="players-container">
            <div class="players player-a" style="background-color: white;">
                <div class="takedown-time" id="player1-score" onclick="takedownIncrement('player1-score', document.querySelector('.player-b .score-box'))">0</div>
                <div class="player-name">
                    <img src="{{ url_for('static', filename='crown.png') }}" alt="Crown" class="crown-icon">
                    {{ player2_name or "選手二" }}
                </div>
                <div class="country-code" style="color: black;">{{player1_place or "TPE"}}</div>
                
                <div class="score-area_A">
                    <div class="score-box" onclick="incrementScore(this)" style="width: 120px;height: 60px;">0</div>
                </div>
                <div class="yellow-boxes player-a-yellow-boxes">
                    <div class="yellow-box"></div>
                    <div class="yellow-box"></div>
                    <div class="red-box"></div>
                </div>
                <button class="yellow_toggle-button" onclick="toggleYellowBoxes('player-a-yellow-boxes', document.querySelector('.player-b .score-box'))">黃牌</button>
            </div>
            <div class="players player-b" style="background-color: #1E90FF;">
                <div class="country-code" style="color: black;">{{player2_place or "UZB"}}</div>
                <!-- <div class="medal-area_B">
                    <div class="medal-box">I</div>
                    <div class="medal-box">W</div>
                </div> -->
                <div class="score-area_B">
                    <div class="score-box" onclick="incrementScore(this)" style="width: 120px;height: 60px;">0</div>
                    <!-- <div class="score-box" onclick="incrementScore(this)">0</div> -->
                </div>
                <div class="yellow-boxes player-b-yellow-boxes">
                    <div class="yellow-box"></div>
                    <div class="yellow-box"></div>
                    <div class="red-box"></div>
                </div>
                <button class="yellow_toggle-button" onclick="toggleYellowBoxes('player-b-yellow-boxes', document.querySelector('.player-a .score-box'))">黃牌</button>
                <div class="takedown-time" id="player2-score" onclick="takedownIncrement('player2-score', document.querySelector('.player-a .score-box'))">0</div>
                <div class="player-name">
                    <img src="{{ url_for('static', filename='crown.png') }}" alt="Crown" class="crown-icon">
                    {{ player2_name or "選手二" }}
                </div>
            </div>
        </div>
        <div class="timer-container">
            <div class="gs-text" style="display: none; font-size: 24px; margin-right: 8px; color: #ffd700;">GS</div>
            <div class="timer" onclick="toggleTimer()">04:00</div>
            <button class="settings-button" onclick="openSettings()" style="background: none; border: none; cursor: pointer;">
                <img src="https://img.icons8.com/material-outlined/48/ffffff/settings.png" alt="Settings Icon">
            </button>
            <button class="refresh-button" onclick="refreshPage()" style="background: none; border: none; cursor: pointer; display: none;">
                <img src="https://img.icons8.com/material-outlined/48/ffffff/refresh.png" alt="Refresh Icon">
            </button>
        </div>
    </div>
    <!-- <script src="{{ url_for('static', filename='base_scripts.js') }}"></script> -->
    <script >
        let timerInterval;
        let isTimerRunning = false;
        let timeRemaining = 240;

     
        function setTimer(minutes, seconds) {
            timeRemaining = minutes * 60 + seconds;
            updateTimerDisplay();
        }

        function openSettings() {
            let timeInput = prompt("請輸入倒數時間 (格式: MM:SS)", "5:00");
            if (timeInput) {
                let timerParts = timeInput.split(':');
                let minutes = parseInt(timerParts[0]);
                let seconds = parseInt(timerParts[1]);
                if (!isNaN(minutes) && !isNaN(seconds)) {
                    setTimer(minutes, seconds);
                } else {
                    alert("請輸入有效的時間格式");
                }
            }
        }

        document.querySelector('.timer').addEventListener('dblclick', function() {
            openSettings();
        });
        

        function incrementTimer() {
            timeRemaining++;
            updateTimerDisplay();
        }

        let intervals = {};

        function takedownIncrement(elementId, opponentScoreElement) {
            let element = document.getElementById(elementId);

            // 如果计时器正在运行，则停止计时并将分数重置为0
            if (intervals[elementId]) {
                clearInterval(intervals[elementId]);
                intervals[elementId] = null;
                element.innerText = '0';  // 将分数重置为0
            } else {
                // 如果计时器没有运行，则启动计时器并每秒增加分数
                intervals[elementId] = setInterval(function() {
                    let score = parseInt(element.innerText, 10);  // 将目前分数转为十进制
                    score += 1;  // 分数增加1
                    element.innerText = score;  // 更新分数显示

                    // 在分数达到10和20时，触发对方的incrementScore
                    if (score === 10 || score === 20) {
                        incrementScore(opponentScoreElement);
                    }
                    if (score >= 20) {
                        clearInterval(intervals[elementId]);
                        intervals[elementId] = null;
                    }

                }, 1000);  // 每秒增加1
            }
        }

        function incrementScore(element) {
            let score = parseInt(element.innerText, 2);  // 將內部文本作為二進制數字解析
            score += 1;  // 將分數增加1
            element.innerText = score.toString(2);  // 將分數轉換為二進制字符串並更新顯示

            // 當分數達到 10 或 11 時觸發閃爍效果
            if (score === 2 || score === 3) {
                element.classList.add('blink');
                stopTimerAndHighlight();  // 停止計時器並變紅
                showCrown(element);
                showRefreshButton();
            }
        }


        function toggleYellowBoxes(className, opponentScoreElement) {
            const yellowBoxes = document.querySelectorAll(`.${className} .yellow-box`);
            const redBox = document.querySelector(`.${className} .red-box`);
            let visibleYellowCount = Array.from(yellowBoxes).filter(box => box.style.visibility === 'visible').length;

            if (visibleYellowCount < yellowBoxes.length) {
                yellowBoxes[visibleYellowCount].style.visibility = 'visible';
            } else if (redBox && redBox.style.visibility !== 'visible') {
                redBox.style.visibility = 'visible';
                // 當紅牌顯示時，對手分數增加兩次
                incrementScore(opponentScoreElement);
                incrementScore(opponentScoreElement);
            } else {
                yellowBoxes.forEach(box => box.style.visibility = 'hidden');
                if (redBox) {
                    redBox.style.visibility = 'hidden';
                }
            }
        }


        function updateTimer() {
            if (timeRemaining > 0) {
                timeRemaining--;
                updateTimerDisplay();
            } else if (timeRemaining === 0) {
                clearInterval(timerInterval);
                isTimerRunning = false;
                determineWinnerOrContinue();
            }
        }

        function determineWinnerOrContinue() {
            let player1Score = parseInt(document.querySelector('.player-a .score-box').innerText, 2);
            let player2Score = parseInt(document.querySelector('.player-b .score-box').innerText, 2);

            if (player1Score > player2Score) {
                showCrown(document.querySelector('.player-a .score-box'));
                stopTimerAndHighlight();
                showRefreshButton();
            } else if (player2Score > player1Score) {
                showCrown(document.querySelector('.player-b .score-box'));
                stopTimerAndHighlight();
                showRefreshButton();
            } else {
                // 分數相同，重新開始正向計時
                startPositiveTimer();
                document.querySelector('.gs-text').style.display = 'inline';
            }
        }

        function startPositiveTimer() {
            timeRemaining = 1;  // 将时间重置为 0
            clearInterval(timerInterval);  // 清除原有的倒計時器
            updateTimerDisplay();
            timerInterval = setInterval(function() {
                timeRemaining++;
                updateTimerDisplay();
            }, 1000);
            isTimerRunning = true;  // 設置計時狀態為運行中
        }

        function updateTimerDisplay() {
            let minutes = Math.floor(timeRemaining / 60);
            let seconds = timeRemaining % 60;
            document.querySelector('.timer').innerText = `${minutes.toString().padStart(2, '0')}:${seconds.toString().padStart(2, '0')}`;
        }

        function toggleTimer() {
            let timerElement = document.querySelector('.timer');
            if (isTimerRunning) {
                clearInterval(timerInterval);
                timerInterval = null;
                timerElement.style.color = 'white';  // 暫停時變為白色
            } else {
                timerInterval = setInterval(updateTimer, 1000);
                timerElement.style.color = '';  // 恢復原來顏色
            }
            isTimerRunning = !isTimerRunning;
        }

        function stopTimerAndHighlight() {
            clearInterval(timerInterval);  // 停止計時器
            isTimerRunning = false;  // 設置計時狀態為非運行中
            let timerElement = document.querySelector('.timer');
            timerElement.style.backgroundColor = 'red';
        }

        function showCrown(element) {
            let playerDiv = element.closest('.players');
            let crownIcon = playerDiv.querySelector('.crown-icon');

            if (crownIcon) {
                crownIcon.style.display = 'inline';  // 顯示王冠
            } else {
                console.error("Crown icon not found in the player's element.");
            }
        }

        function showRefreshButton() {
            const refreshButton = document.querySelector('.refresh-button');
            if (refreshButton) {
                refreshButton.style.display = 'inline';  // 顯示重新整理按鈕
            } else {
                console.error("Refresh button not found in the document.");
            }
        }

        function refreshPage() {
            window.location.reload();
        }

                
    </script>
</body>
</html>
